.welcome {
  background-color: $white;
  border-bottom-right-radius: $layout-31;
  padding-bottom: $layout-25;
  padding-left: $spacing-6;
  padding-right: $spacing-6;

  @include until($tablet) {
    padding-left: $spacing-5;
    padding-right: $spacing-5;
    border-bottom-right-radius: 0;
  }
  @include until($desktop) {
    padding-left: $spacing-6;
    padding-right: $spacing-6;
  }
}

h2,h3,h4{
  font-weight: 600;
}

.lab-test__bg{
  background-color: $purple-10;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.lab-test-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 104px;
}

.lab-test__checkbox{
  display: flex;
  flex-direction: column;
}

.lab-test__toggle{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lab-test__buttons{
  display: flex;
  justify-content: flex-end;
  padding-top: $spacing-15;

  @include until($tablet) {
    justify-content: stretch;
  }
}

button:first-child {
  margin-right: $spacing-5;
}

header{
  background-color: $white;
  padding-left: $spacing-6;
  padding-right: $spacing-6;
  h1{
    color: $purple-60;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: $spacing-10;
  }
  p{
    margin-top: 0;
    padding-top: $spacing-7;
    margin-bottom: 0;
    color: $purple-40;
    font-size: $font-size-5;
    font-weight: 600;
  }
  @include until($tablet) {
    padding-left: $spacing-5;
    padding-right: $spacing-5;
  }

}

.alert-section {
  padding-top: $spacing-4;
}